<div class= "d-flex align-items-center justify-content-center">
<body class="bg-light">
  <div class="container text-secondary">

  <h3>投稿が完了しました</h3>
  <a class="btn btn-primary" href="/">投稿一覧へ戻る</a>
  </div>
</div>
</div>